@charset "UTF-8";

/*TABLET
======================*/

@media screen and (max-width:1199px) {}

@media screen and (max-width: 991px) {
    .bookCase {
        margin: 45px auto 0 auto;
    }
    .bookCase__head {
        align-items: flex-start;
    }
    .bookCase__head img {
        width: 100%;
    }
    .bookCase__head__content__chapter div a {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 767px) {
    .bookCase__head img {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .bookCase__head__content__title div {
        width: 100%;
        margin: 0 auto 10px auto;
    }
    .bookCase__head__content__title a {
        width: 100%;
    }
    .bookCase__head__content__title a.active {
        margin-top: 6px;
    }
    .bookCase__show:before {
        margin-bottom: 55px;
    }
    .bookCase__show__item {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {}


/* MOBILE
======================*/

@media screen and (max-width: 599px) {
    .bookCase__head__content__chapter div a {
        width: 100%
    }
    .bookCase__show:after {
        margin-bottom: 10px;
    }
    .bookCase__show__item {
        max-width: 80%;
        margin: 0 auto 35px auto;
    }
}