@charset "UTF-8";

/*DESKTOP
======================*/

@media screen and (min-width: 768px) and (max-width: 1199px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}


/*TABLET
======================*/

@media screen and (max-width: 1350px) {
    .mainList {
        width: calc(100% - 30px);
    }
    .mainList li {
        margin-left: 15px;
    }
    .subList {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .mainList li {
        margin-left: 0;
    }
    .banner__item {
        width: 45%;
        text-align: left;
    }
    .banner__item:nth-child(1) {
        order: 2;
    }
    .banner__item:nth-child(1) img {
        position: absolute;
        top: 0;
        right: 0;
    }
    .banner__cover {
        display: block;
    }
}

@media screen and (max-width:1199px) {
    header {
        height: 60px;
        padding-top: 10px;
    }
    main {
        padding-top: 60px;
    }
    .mainList {
        width: calc(100% - 30px);
    }
    .mainList .navbar-nav {
        background-color: rgba(255, 255, 255, .85);
        min-height: 100vh;
        margin-top: 10px;
        padding-top: 40px;
    }
    .mainList .navbar-nav a {
        text-align: center;
    }
    .mainList .navbar-brand img {
        width: 85px;
        margin-right: 5px;
    }
    .mainList ul li .dropdown-menu {
        filter: none;
        background-color: transparent;
        border-radius: 0;
        padding: 0 0 40px 0;
    }
    .mainList .dropdown-menu li a {
        font-size: 14px;
    }
    .mainList .dropdown-toggle::after {
        margin-right: -10px;
    }
    .mainList .dropdown-menu li:after {
        width: 80px;
        margin: 10px auto;
    }
    .subList {
        position: absolute;
        top: 5px;
        right: 50px;
    }
    .subList__share {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .banner {
        padding: 80px 0;
    }
    .banner__item {
        width: 90%;
    }
    .banner__item:nth-child(1) {
        margin-top: -30vw;
    }
    .banner__item:nth-child(1) img {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .banner__title {
        padding: 55px 0;
    }
    .banner h1:after {
        margin: 25px auto 25px 0;
    }
    .banner__title:before,
    .banner__title:after {
        display: none;
    }
    .bookCase {
        margin: 45px auto 0 auto;
    }
    .bookCase__head {
        align-items: flex-start;
    }
    .bookCase__head img {
        width: 100%;
    }
    .bookCase__head__content__chapter div a {
        width: calc(50% - 10px);
    }
    .bookCase__page {
        margin: 0 auto 100px auto;
    }
}

@media screen and (max-width: 767px) {
    .banner__cover {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 70%, rgba(255, 255, 255, 0) 100%);
    }
    .bookCase__head img {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .bookCase__head__content__title div {
        width: 100%;
        margin: 0 auto 10px auto;
    }
    .bookCase__head__content__title a {
        width: 100%;
    }
    .bookCase__show:before {
        margin-bottom: 55px;
    }
    .bookCase__show__item {
        margin-bottom: 50px;
    }
    .goToTop {
        right: calc(50% - 25px);
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {}


/* MOBILE
======================*/

@media screen and (max-width: 599px) {
    .banner {
        padding: 40px 0 15px 0;
    }
    .banner h1:after {
        margin: 25px auto;
    }
    .banner__item,
    .banner__title {
        text-align: center;
    }
    .bookCase__head__content__chapter div a {
        width: 100%
    }
    .bookCase__show:after {
        margin-bottom: 10px;
    }
    .bookCase__show__item {
        max-width: 80%;
        margin: 0 auto 35px auto;
    }
    .bookCase__page {
        margin: 0 auto 60px auto;
    }
    .bookCase__page .page-item {
        display: none;
    }
    .bookCase__page .page-item:first-child,
    .bookCase__page .page-item:last-child {
        display: block;
    }
}

@media screen and (max-width: 330px) {}


/* ONLY
======================*/

@media screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 768px) and (max-width: 991px) {}

@media screen and (-webkit-min-device-pixel-ratio:2) and (max-width: 767px) {}


/* Firefox All */

@-moz-document url-prefix() {
    .xxxx {}
}


/* Safari 5~6 ONLY */

@media screen and (-webkit-min-device-pixel-ratio:0) {
     ::i-block-chrome,
    .xxxx {}
}


/* Safari 6以上 ONLY */

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        _:-webkit-full-screen,
        .xxxx {}
    }
}


/**/