    @font-face {
        font-family: 'Noto Serif CJK TC';
        src: url('../fonts/fonts/Noto_Serif_TC/NotoSerifTC-Medium.otf') format("otf");
    }
    /****變數 start****/
    
     :root {
        /**顏色**/
        --main-red: #920800;
        --title-dark: #2b2b2b;
        --title-light: #8E94A2;
        --text-color: #646464;
        --bt-color: #5c4531;
        /**字體**/
        --banner-title: 'Noto Serif CJK TC', sans-serif;
        --banner-subTitle: 'Noto Serif CJK TC', sans-serif;
        --banner-text: 'Microsoft JhengHei', sans-serif;
        --content-title: 'Calibri', sans-serif;
        --content-subTitle: 'Microsoft JhengHei', sans-serif;
        --content-text: 'Microsoft JhengHei', sans-serif;
        --footer-text: 'Calibri', sans-serif;
    }
    /****變數 end****/
    
    body {
        background: url(../images/texture_white.png);
    }
    
    div {
        position: relative;
    }
    
    ul {
        padding: 0;
    }
    
    a {
        cursor: pointer;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a,
    p {
        font-family: var(--content-text);
        font-size: 16px;
    }
    
    img {
        display: block;
    }
    
    .contentTitleEn {
        font-family: 'Calibri', sans-serif;
        font-weight: bold;
        font-size: 12pt;
    }
    
    .contentTitleZh {
        font-family: 'Noto Serif CJK TC', sans-serif;
        font-weight: normal;
        font-size: 25px;
    }
    
    .contentSubTitle {
        font-family: 'Noto Serif CJK TC', sans-serif;
        font-weight: bold;
        font-size: 16pt;
    }
    
    .contentSubTitle {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-weight: normal;
        font-size: 16pt;
    }
    /****header start****/
    
    header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 80px;
        text-align: right;
        padding-top: 16.64px;
        transition: background-color .2s ease-in-out;
    }
    
    header.active {
        background-color: rgba(255, 255, 255, .85);
    }
    
    .mainList {
        width: calc(100% - 60px);
        margin: 0 auto;
        padding: 0;
    }
    
    .mainList li {
        position: relative;
        margin-left: 20px;
    }
    
    .mainList a {
        color: var(--title-dark);
        font-size: 16px;
        font-weight: bold;
    }
    
    .mainList .dropdown-menu {
        min-width: 150px;
        left: calc(50% - 75px);
        padding: 15px 0;
        border: none;
        border-radius: 10px;
        filter: drop-shadow(rgba(0, 0, 0, .2) 5px 5px 10px);
    }
    
    .mainList .dropdown-menu li {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .mainList .dropdown-menu li:hover {
        background: none;
    }
    
    .mainList .dropdown-menu li:after {
        content: '';
        display: block;
        width: 120px;
        height: 1px;
        background-color: #dcdcdc;
        margin: 15px auto;
    }
    
    .mainList .dropdown-menu li:last-child:after {
        display: none;
    }
    
    .mainList .dropdown-menu li a {
        transition: color .2s ease-in-out;
    }
    
    .mainList .dropdown-menu li a:hover {
        color: var(--main-red)
    }
    
    .mainList .navbar-brand {
        font-weight: bold;
        padding: 0;
        color: var(--main-red);
        transition: opacity .2s ease-in-out;
    }
    
    .mainList .navbar-brand:hover {
        color: var(--main-red);
        opacity: .7;
    }
    
    .mainList .navbar-brand img {
        width: 125px;
        display: inline-block;
        margin-right: 20px;
    }
    
    .mainList .navbar-toggler {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        outline: none;
        background: url(../images/navIcon.svg) no-repeat center;
        background-size: cover;
        background-color: #000;
        padding: 0;
    }
    
    .subList {
        margin-left: 32px;
    }
    
    .mainList .subList li {
        margin: 0 0 0 5px;
    }
    
    .subList .dropdown-toggle::after {
        display: none;
    }
    
    .subList .nav-link {
        padding: 0;
    }
    
    .subList a {
        color: #FFF;
    }
    
    .subList a>img {
        position: relative;
        display: inline-block;
        width: auto;
        height: 15px;
        top: -2px;
    }
    
    .subList>li>a {
        display: block;
        width: 40px;
        height: 30px;
        line-height: 30px;
        background-color: #000;
        border-radius: 15px;
        text-align: center;
        transition: opacity .2s ease-in-out;
    }
    
    .subList>a:hover {
        opacity: .7;
    }
    
    .subList .subList__share__sns {
        left: calc(50% - 30px);
        width: 60px;
        min-width: 0;
        margin-top: 8px;
    }
    
    .subList .subList__share__sns img {
        width: auto;
        height: 25px;
    }
    
    .mainList .subList .dropdown-menu li:after {
        width: 35px;
    }
    /****header end****/
    /****banner start***/
    
    .banner {
        background: url(../images/CSR_bannerBg.jpg) no-repeat center;
        background-size: cover;
        padding: 150px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .banner__item {
        width: 45%;
        text-align: center;
    }
    
    .banner__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 40%, rgba(255, 255, 255, 0) 100%);
        display: none;
    }
    
    .banner img {
        width: auto;
        height: 300px;
        margin: 0 0 0 auto;
    }
    
    .banner h1 {
        font-family: 'Noto Serif CJK TC', sans-serif;
        font-weight: 600;
        font-size: 50px;
        color: var(--main-red);
    }
    
    .banner h1:after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        margin: 30px auto 25px 0;
        background-color: var(--title-light);
    }
    
    .banner h1 img {
        width: auto;
        height: 45px;
        margin: 0 auto 0 0;
    }
    
    .banner h2 {
        font-family: 'Noto Serif CJK TC', sans-serif;
        font-weight: 500;
        font-size: 23px;
        color: var(--title-dark);
        margin-bottom: 10px;
    }
    
    .banner p {
        font-family: 'Microsoft JhengHei', sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: var(--text-color);
    }
    
    .banner__title {
        display: inline-block;
        padding: 55px 52px;
        text-align: left;
    }
    
    .banner__title:before,
    .banner__title:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 17px;
        height: 40px;
        background: url(../images/bannerBorder.svg) no-repeat top left;
        background-size: cover;
    }
    
    .banner__title:after {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
    /****banner end***/
    /****main start***/
    
    .bookCase {
        width: 90%;
        margin: -60px auto 0 auto;
    }
    /**當期報告書**/
    
    .bookCase__head {
        align-items: flex-end;
        margin: 0 auto 35px auto;
    }
    
    .bookCase__head img {
        width: 80%;
        margin: 0 auto;
        filter: drop-shadow(rgba(0, 0, 0, .2) 5px 5px 10px);
    }
    
    .bookCase__head__content__title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 auto 20px auto;
    }
    
    .bookCase__head__content__title:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: url(../images/texture_black.png);
        margin-top: 10px;
    }
    
    .bookCase__head__content__title div {
        width: calc(100% - 170px);
    }
    
    .bookCase__head__content__title p {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .bookCase__head__content__title a {
        display: block;
        width: 170px;
        background-color: var(--bt-color);
        color: #FFF;
        text-align: center;
        padding: 15px 0;
        border-bottom: 6px solid rgb(31, 31, 40);
        border-radius: 15px;
        transition: all .1s ease-in-out;
    }
    
    .bookCase__head__content__title a.active {
        border-bottom: 0 solid rgb(31, 31, 40);
    }
    
    .bookCase__head__content__title a:hover {
        opacity: .7;
    }
    
    .bookCase__head__content__chapter {}
    
    .bookCase__head__content__chapter p {
        color: var(--main-red);
        font-weight: var(--content-subTitle);
        line-height: 1;
        vertical-align: top;
        margin-bottom: 10px;
    }
    
    .bookCase__head__content__chapter p::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 1em;
        background-color: var(--main-red);
        margin-right: 13px;
        vertical-align: top;
    }
    
    .bookCase__head__content__chapter div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .bookCase__head__content__chapter div a {
        width: calc(100% / 3 - 20px / 3);
        margin-bottom: 5px;
        padding: 7px 0;
    }
    /**歷史報告書**/
    
    .bookCase__show {
        width: 100%;
        margin: 0 auto 20px auto;
    }
    
    .bookCase__show:before,
    .bookCase__show:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: url(../images/texture_black.png);
    }
    
    .bookCase__show:before {
        margin-bottom: 85px;
    }
    
    .bookCase__show__item {
        margin-bottom: 70px;
    }
    
    .bookCase__show__item img {
        width: 100%;
        margin: 0 auto 20px auto;
        box-shadow: rgba(0, 0, 0, .2) 5px 5px 10px;
    }
    
    .bookCase__show__item h3 {
        color: #000;
        font-family: var(--content-subTitle);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 20px auto;
    }
    
    .bookCase__show__item h3 span {
        display: block;
        color: var(--title-light);
        font-weight: normal;
        margin: 5px auto 0 auto;
    }
    
    .bt__csr {
        border: 2.5px solid #E5E5E5;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: var(--title-light);
        transition: all .2s ease-in-out;
    }
    
    .bt__csr:hover {
        background-color: var(--bt-color);
        color: #FFF;
        border: 2.5px solid var(--bt-color);
    }
    
    .bookCase__show__item a {
        display: block;
        max-width: 175px;
        width: 95%;
        height: 40px;
        margin: 0 auto;
        line-height: 35px;
    }
    /* .bookCase__page__count {
        text-align: center;
        margin: 0 auto 125px auto;
    }
    
    .bookCase__page__count span {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: var(--text-color);
        text-align: center;
        line-height: 30px;
        margin: 0 2.5px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    
    .bookCase__page__count span:hover {
        background-color: var(--main-red);
        color: #FFF;
        opacity: .7;
    }
    
    .bookCase__page__count span.active {
        background-color: var(--main-red);
        color: #FFF;
    }
    
    .bookCase__page__count span.active:hover {
        opacity: 1;
    } */
    /****main end***/
    /****footer start****/
    
    footer {
        width: 100%;
        padding: 40px 0;
        background: url(../images/footerBg.jpg) no-repeat center;
        background-size: cover;
    }
    
    .footer__title {
        display: block;
    }
    
    footer a {
        transition: opacity .2s ease-in-out;
    }
    
    footer a:hover {
        opacity: .7;
    }
    
    footer img {
        width: 90%;
        max-width: 125px;
        margin: 0 auto 20px auto;
    }
    
    footer ul {
        width: 90%;
        display: block;
        margin: 0 auto 10px auto;
        list-style: none;
        text-align: center;
    }
    
    footer ul li {
        display: inline;
    }
    
    footer ul li:after {
        content: '/';
        font-family: var(--content-subTitle);
        font-size: 16px;
        color: var(--title-light);
        margin: 0 10px;
    }
    
    footer ul li:last-child:after {
        display: none;
    }
    
    footer ul li a {
        font-weight: bold;
        color: var(--title-dark);
        transition: opacity .2s ease-in-out;
    }
    
    footer ul li a:hover {
        opacity: .7;
    }
    
    footer p {
        font-family: var(--footer-text);
        font-size: 13px;
        text-align: center;
        color: var(--title-light);
        line-height: 1;
        margin: 0 auto 5px;
        vertical-align: middle;
    }
    
    .footer__sns a {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        vertical-align: middle;
    }
    
    .footer__sns a:first-child {
        margin-left: 6px;
    }
    
    .footer__sns a img {
        width: 100%;
    }
    /****footer end***/