@font-face {
    font-family: 'Noto Serif CJK TC';
    src: url('../../fonts/fonts/Noto_Serif_TC/NotoSerifTC-Medium.otf') format("otf");
}


/****變數 start****/

:root {
    /**顏色**/
    --main-red: #920800;
    --title-dark: #2b2b2b;
    --title-light: #8E94A2;
    --text-color: #646464;
    --bt-color: #5c4531;
    /**字體**/
    --banner-title: 'Noto Serif CJK TC', sans-serif;
    --banner-subTitle: 'Noto Serif CJK TC', sans-serif;
    --banner-text: 'Microsoft JhengHei', sans-serif;
    --content-title: 'Calibri', sans-serif;
    --content-subTitle: 'Microsoft JhengHei', sans-serif;
    --content-text: 'Microsoft JhengHei', sans-serif;
    --footer-text: 'Calibri', sans-serif;
}


/****變數 end****/

body {
    position: relative;
    background: url(../../images/texture_white.png);
}

div {
    position: relative;
}

ul {
    padding: 0;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a,
p {
    font-family: var(--content-text);
    font-size: 16px;
}

img {
    display: block;
}

.contentTitleEn {
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

.contentTitleZh {
    font-family: 'Noto Serif CJK TC', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.contentSubTitle {
    font-family: 'Noto Serif CJK TC', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.contentSubTitle {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-weight: normal;
    font-size: 16pt;
}


/****header start****/

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    text-align: right;
    padding-top: 16.64px;
    transition: background-color .2s ease-in-out;
}

header.active {
    background-color: rgba(255, 255, 255, .85);
}

.mainList {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 0;
}

.mainList li {
    position: relative;
    margin-left: 20px;
}

.mainList a {
    color: var(--title-dark);
    font-size: 16px;
    font-weight: bold;
}

.mainList .dropdown-menu {
    min-width: 150px;
    left: calc(50% - 75px);
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(rgba(0, 0, 0, .2) 5px 5px 10px);
}

.mainList .dropdown-menu li {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mainList .dropdown-menu li:hover {
    background: none;
}

.mainList .dropdown-menu li:after {
    content: '';
    display: block;
    width: 120px;
    height: 1px;
    background-color: #dcdcdc;
    margin: 15px auto;
}

.mainList .dropdown-menu li:last-child:after {
    display: none;
}

.mainList .dropdown-menu li a {
    transition: color .2s ease-in-out;
}

.mainList .dropdown-menu li a:hover {
    color: var(--main-red)
}

.mainList .navbar-brand {
    font-weight: bold;
    padding: 0;
    color: var(--main-red);
    transition: opacity .2s ease-in-out;
}

.mainList .navbar-brand:hover {
    color: var(--main-red);
    opacity: .7;
}

.mainList .navbar-brand img {
    width: 125px;
    display: inline-block;
    margin-right: 20px;
}

.mainList .navbar-toggler {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    background: url(../../images/navIcon.svg) no-repeat center, url(../../images/blackDot.png) no-repeat center;
    background-size: cover;
    padding: 0;
}

.subList {
    margin-left: 32px;
}

.mainList .subList li {
    margin: 0 0 0 5px;
}

.subList .dropdown-toggle::after {
    display: none;
}

.subList .nav-link {
    padding: 0;
}

.subList a {
    color: #FFF;
}

.subList a>img {
    position: relative;
    display: inline-block;
    width: auto;
    height: 15px;
    top: -2px;
}

.subList>li>a {
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    border-radius: 15px;
    text-align: center;
    transition: opacity .2s ease-in-out;
}

.subList>a:hover {
    opacity: .7;
}

.subList .subList__share__sns {
    left: calc(50% - 30px);
    width: 60px;
    min-width: 0;
    margin-top: 8px;
}

.subList .subList__share__sns img {
    width: auto;
    height: 25px;
}

.mainList .subList .dropdown-menu li:after {
    width: 35px;
}


/****header end****/


/****banner start***/

.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.banner__item {
    width: 45%;
    text-align: center;
}

.banner__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 40%, rgba(255, 255, 255, 0) 100%);
    display: none;
}

.banner img {
    width: auto;
    height: 300px;
    margin: 0 0 0 auto;
}

.banner h1 {
    font-family: 'Noto Serif CJK TC', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: var(--main-red);
}

.banner h1:after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    margin: 30px auto 25px 0;
    background-color: var(--title-light);
}

.banner h1 img {
    width: auto;
    height: 45px;
    margin: 0 auto 0 0;
}

.banner h2 {
    font-family: 'Noto Serif CJK TC', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: var(--title-dark);
    margin-bottom: 10px;
}

.banner p {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
}

.banner__title {
    display: inline-block;
    padding: 55px 52px;
    text-align: left;
}

.banner__title:before,
.banner__title:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 17px;
    height: 40px;
    background: url(../../images/bannerBorder.svg) no-repeat top left;
    background-size: cover;
}

.banner__title:after {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}


/****banner end***/


/****page start****/

.pageArea {
    margin: 0 auto 125px auto;
}

.pageArea .page-item {
    width: 30px;
    height: 30px;
    margin: 0 2.5px;
    padding: 0;
}

.pageArea .page-item .page-link {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    color: var(--text-color);
    line-height: 30px;
    text-align: center;
    padding: 0;
    outline: none;
    transition: all .2s ease-in-out;
}

.pageArea .page-item .page-link:focus {
    box-shadow: none;
}

.pageArea .page-item.active .page-link {
    background-color: var(--main-red);
    color: #FFF;
}

.pageArea .page-link:hover {
    background-color: var(--main-red);
    color: #FFF;
    opacity: .7;
}

.pageArea .page-item.active .page-link:hover {
    opacity: 1;
}

.pageArea .page-item:first-child,
.pageArea .page-item:last-child {
    position: absolute;
    width: auto;
    min-width: 94px;
    height: auto;
    left: 20px;
}

.pageArea .page-item:last-child {
    left: auto;
    right: 20px;
}

.pageArea .page-item:first-child .page-link,
.pageArea .page-item:last-child .page-link {
    border-radius: 0;
    transition: all .2s ease-in-out;
    color: #000;
    font-size: 18px;
}

.pageArea .page-item:first-child .page-link:hover,
.pageArea .page-item:last-child .page-link:hover {
    color: #000;
    background-color: transparent;
    opacity: .7;
}

.pageArea .page-item:first-child .page-link:before,
.pageArea .page-item:last-child .page-link:after {
    content: '';
    width: 15px;
    height: 25px;
    background: url(../../images/next.svg) no-repeat center;
    background-size: cover;
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: middle;
}

.pageArea .page-item:first-child .page-link:before {
    transform: scaleX(-1);
    margin: 0 25px 0 0;
}

.pageArea .page-item.disabled {
    opacity: .2;
}


/****page end****/


/****goToTop start***/

.goToTop {
    position: absolute;
    right: 30px;
    bottom: 180px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../images/blackDot.png) no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.goToTop:hover {
    opacity: .7;
}

.goToTop:focus {
    outline: none;
}

.goToTop img {
    width: 50%;
    margin: 0 auto;
}


/****goToTop end***/


/****footer start****/

footer {
    width: 100%;
    padding: 30px 0;
    background: url(../../images/footerBg.jpg) no-repeat center;
    background-size: cover;
}

.footer__title {
    display: block;
}

footer a {
    transition: opacity .2s ease-in-out;
}

footer a:hover {
    opacity: .7;
}

footer img {
    width: 90%;
    max-width: 125px;
    margin: 0 auto 20px auto;
}

footer ul {
    width: 90%;
    display: block;
    margin: 0 auto 10px auto;
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline;
}

footer ul li:after {
    content: '/';
    font-family: var(--content-subTitle);
    font-size: 16px;
    color: var(--title-light);
    margin: 0 10px;
}

footer ul li:last-child:after {
    display: none;
}

footer ul li a {
    font-weight: bold;
    color: var(--title-dark);
    transition: opacity .2s ease-in-out;
}

footer ul li a:hover {
    opacity: .7;
}

footer p {
    font-family: var(--footer-text);
    font-size: 13px;
    text-align: center;
    color: var(--title-light);
    line-height: 1;
    margin: 0 auto 5px;
    vertical-align: middle;
}

.footer__sns a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    vertical-align: middle;
}

.footer__sns a:first-child {
    margin-left: 6px;
}

.footer__sns a img {
    width: 100%;
}


/****footer end***/

@media screen and (max-width: 1350px) {
    .mainList {
        width: calc(100% - 30px);
    }
    .mainList li {
        margin-left: 15px;
    }
    .subList {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .mainList li {
        margin-left: 0;
    }
    .banner__item {
        width: 45%;
        text-align: left;
    }
    .banner__item:nth-child(1) {
        order: 2;
    }
    .banner__item:nth-child(1) img {
        position: absolute;
        top: 0;
        right: 0;
    }
    .banner__cover {
        display: block;
    }
}

@media screen and (max-width:1199px) {
    header {
        height: 60px;
        padding-top: 10px;
    }
    main {
        padding-top: 60px;
    }
    .mainList {
        width: calc(100% - 30px);
    }
    .mainList .navbar-nav {
        background-color: rgba(255, 255, 255, .85);
        min-height: 100vh;
        margin-top: 10px;
        padding-top: 40px;
    }
    .mainList .navbar-nav a {
        text-align: center;
    }
    .mainList .navbar-brand img {
        width: 85px;
        margin-right: 5px;
    }
    .mainList ul li .dropdown-menu {
        filter: none;
        background-color: transparent;
        border-radius: 0;
        padding: 0 0 40px 0;
    }
    .mainList .dropdown-menu li a {
        font-size: 14px;
    }
    .mainList .dropdown-toggle::after {
        margin-right: -10px;
    }
    .mainList .dropdown-menu li:after {
        width: 80px;
        margin: 10px auto;
    }
    .subList {
        position: absolute;
        top: 5px;
        right: 50px;
    }
    .subList__share {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .banner {
        padding: 80px 0;
    }
    .banner__item {
        width: 90%;
    }
    .banner__item:nth-child(1) {
        margin-top: -30vw;
    }
    .banner__item:nth-child(1) img {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .banner__title {
        padding: 55px 0;
    }
    .banner h1:after {
        margin: 25px auto 25px 0;
    }
    .banner__title:before,
    .banner__title:after {
        display: none;
    }
    .pageArea {
        margin: 0 auto 100px auto;
    }
}

@media screen and (max-width: 767px) {
    .banner__cover {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 70%, rgba(255, 255, 255, 0) 100%);
    }
    .goToTop {
        right: calc(50% - 25px);
    }
}

@media screen and (max-width: 599px) {
    .banner {
        padding: 40px 0 15px 0;
    }
    .banner h1:after {
        margin: 25px auto;
    }
    .banner__item,
    .banner__title {
        text-align: center;
    }
    .pageArea {
        margin: 0 auto 60px auto;
    }
    .pageArea .page-item {
        display: none;
    }
    .pageArea .page-item:first-child,
    .pageArea .page-item:last-child {
        display: block;
    }
}